
<button onClick={{@game.endTurn}}> End turn</button>

<div class="table">
    <div class="board">

        {{!-- Center of game board --}}
        <div class="center">
            <CenterDeck @deck-name="communityChest" />

            <h1 class="title">MONOPOLY | {{@game.currentPlayer.name}} 
                                        {{@game.currentPlayer.positionOnBoard}} |
                                        {{@game.currentPlayer.isInJail}}
            </h1>
            
            <Dice
                @currentDice={{@game.dice.current}}
                @isDouble={{@game.dice.isDouble}}
                @diceTotal={{@game.dice.total}}
                @roll={{this.onDiceRoll}}
                @disabled={{@game.isDiceRollAllowed}}  {{!-- Determine if dice roll button can be clicked --}}
                />
            
            <CenterDeck @name="chance" />
        </div>
        <h4>{{@game.numPlayers}} in this game!</h4>
        {{!-- Game starting position --}}
        <Go @board-position='0'/>

        {{!-- BOTTOM row --}}
        <div class="row horizontal-row bottom-row">
            <Property @board-position='9' class="foo"/>
            <Property @board-position='8'/>
            <DeckSpace @board-position='7' />
            <Property @board-position='6' />
            <Railroad @board-position='5' />
            <Tax @board-position='4'/>
            <Property @board-position='3' />
            <DeckSpace @board-position='2' />
            <Property @board-position='1' />
        </div>

        <Jail @board-position='10'/>

        {{!-- LEFT row --}}
        <div class="row vertical-row left-row">
            <Property @board-position='19' />
            <Property @board-position='18' />
            <DeckSpace @board-position='17' />
            <Property @board-position='16' />
            <Railroad @board-position='15' />
            <Property @board-position='14' />
            <Property @board-position='13' />
            <Utilities @board-position='12' />
            <Property @board-position='11' />
        </div>

        <FreeParking @board-position='20'/>

        {{!-- TOP row --}}
        <div class="row horizontal-row top-row">
            <Property @board-position='21' />
            <DeckSpace @board-position='20' />
            <Property @board-position='23' />
            <Property @board-position='24' />
            <Railroad @board-position='25' />
            <Property @board-position='26' />
            <Property @board-position='27' />
            <Utilities @board-position='28' />
            <Property @board-position='29' />
        </div>

        <GoToJail @board-position='30'/>

        {{!-- RIGHT row --}}
        <div class="row vertical-row right-row">
            <Property @board-position='31' />
            <Property @board-position='32' />
            <DeckSpace @board-position='33' />
            <Property @board-position='34' />
            <Railroad @board-position='35' />
            <DeckSpace @board-position='36' />
            <Property @board-position='37' />
            <Tax @board-position='38'/>
            <Property @board-position='39' />
        </div>
    </div>
</div>