<div class="space fee 
    {{if-name-equals @board-position "Income Tax" "income-tax" "luxury-tax"}}">

    <div class="container">
        <div class="name">{{get-value @board-position 'name'}}</div>

        <div class="{{if-name-equals @board-position "Income Tax" "diamond" "drawing far fa-gem"}}"></div>
        <div class="instructions">

            {{#if (eq (get-value @board-position 'name') "Income Tax")}}

            Pay 10%<br>or<br>${{get-value @board-position 'price'}}
            {{else}}
            Pay ${{get-value @board-position 'price'}}
            {{/if}}
        </div>

        <PlayerToken />
        
    </div>
</div>